{% load static %}
<footer class="footer-distributed">

    <div class="footer-left">
      <a href="{% url 'eagle-home' %}"><img src="{% static 'web_app/image/TOP.png' %}" style="margin-left: 1rem;"></a>

        <p class="footer-links">
            <a href="{% url 'eagle-home' %}">HOME</a>
            |
            <a href="{% url 'eagle-digitalcontent' %}">COURSES</a>

            <a href="{% url 'eagle-contact' %}">CONTACT</a>
        </p>

        <p class="footer-company-name">Copyright © 2022 <strong>Eaglegroup</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div class="center-link">
            <a href="#"><i class="fa fa-map-marker"></i></a>
            <p><span>Nairobi</span>
                Kenya</p>
        </div>

        <div class="center-link">
            <a href="tel:+2540712345678"><i class="fa fa-phone"></i></a>
            <p>+254 0712345678 </p>
        </div>
        <div class="center-link">
            <a href="mailto:eaglegroup@gmail.com"><i class="fa fa-envelope"></i></a>
            <p><a href="mailto:eaglegroup@gmail.com">eaglegroup@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            <strong>Eagle Group International (K) Ltd</strong> was incorporated in Kenya the year 2016 to enable the company to undertake all investment opportunities in Kenya, Africa and globally as an Infrastructure solution company. Our solutions include ICT infrastructures, energy Infrastructure, physical and structural Infrastructure. Eagle group bought and took over some of the activities of Bear (K) Limited.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>